{% extends "base.html" %}
{% load staticfiles %}
{% block actions %}
 <div>
  <img src="{% static "clock" %}{{ view.request.session.clock }}.png" alt="clock">
  <img src="{% static "player" %}{{ view.request.session.curplayer }}.png    " alt="player{{ view.request.session.curplayer }}">
  <img src="{% static "die" %}{{ view.die }}.png" alt="die">
  {% if not view.die %}
      {% if view.request.session.gameison %}
          <audio controls autoplay>
	      <source src="{% static "sound/bell.mp3" %}" type="audio/mpeg">
       	      Your browser does not support the audio element.
          </audio> 
	  <a href="{% url 'play:playgame' %}"><img src="{% static "next.png" %}" alt="Next"></a>
      {% else %}
          <audio controls autoplay>
	      <source src="{% static "sound/bell12.mp3" %}" type="audio/mpeg">
       	      Your browser does not support the audio element.
          </audio> 
	  <a href="{% url 'play:setupgame' %}"><img src="{% static "gameover.gif" %}" alt="Game over"></a>
      {% endif %}
  {% endif %}
 </div>
{% endblock %}
{% block board %}
      <div class="col span_6_of_6">
	{% for card in view.request.session.board %}
	    {% if card.pos in view.possib_dest %}
	        <a href="{% url 'play:showmove' dest=card.pos %}"><img src="{{ card.filename }}" alt="{{ card.filename }}"></a>
	    {% else %}
	        <img src="{{ card.filename }}" alt="{{ card.filename }}">
	    {% endif %}
	    {% cycle '' '' '' '' '' '<br>' %}
	{% endfor %}
      </div>
{% endblock %}
