{% extends "base.html" %}
{% load staticfiles %}
{% block actions %}
 <div>
  <img src="{% static "clock" %}{{ view.request.session.clock }}.png" alt="clock">
  <img src="{% static "die" %}{{ view.die }}.png" alt="die">
  <img src="{% static "player" %}{{ view.request.session.curplayer }}.png    " alt="player{{ view.request.session.curplayer }}">
  {% if not view.die %}
      {% if view.request.session.gameison %}
          <audio controls autoplay>
	      <source src="{% static "bell.mp3" %}" type="audio/mpeg">
       	      Your browser does not support the audio element.
          </audio> 
	 <h3>
	  <a href="{% url 'play:playgame' %}">Next</a>
	 </h3>
      {% else %}
          <audio controls autoplay>
	      <source src="{% static "bell12.mp3" %}" type="audio/mpeg">
       	      Your browser does not support the audio element.
          </audio> 
	  <a href="{% url 'play:setupgame' %}"><img src="{% static "gameover.gif" %}" alt="Game over"></a>
      {% endif %}
  {% else %}
	 <h3>
	  Pick a destination card on the board
	 </h3>
  {% endif %}
 </div>
{% endblock %}
{% block msging %}
{% endblock %}
{% block board %}
      <div class="col span_6_of_6">
	{% for card in view.request.session.board %}
	    {% if card.pos in view.possib_dest %}
	        <a href="{% url 'play:showmove' dest=card.pos %}"><img src="{% static "" %}{{ card.filename }}" alt="{{ card.filename }}"></a>
	    {% else %}
	        <img src="{% static "" %}{{ card.filename }}" alt="{{ card.filename }}">
	    {% endif %}
	{% endfor %}
      </div>
{% endblock %}
