{% extends "base.html" %}
{% load staticfiles %}
{% block actions %}
 <div>
  <img src="{% static "clock" %}{{ view.request.session.clock }}.png" alt="clock">
  <img src="{% static "player" %}{{ view.request.session.curplayer }}.png" alt="player{{ view.request.session.curplayer }}">
  <a href="{% url 'play:move' %}"><img src="{% static "die-blank.png" %}" alt="die"></a>
 </div>
{% endblock %}
{% block board %}
      <div class="col span_6_of_6">
	{% for card in view.request.session.board %}
	<img src="{% static "" %}{{ card.filename }}" alt="{{ card.filename }}">
	{% endfor %}
      </div>
{% endblock %}
