{% extends "base.html" %}
{% load staticfiles %}
{% block actions %}
 <div>
  <img src="{% static "clock" %}{{ view.request.session.clock }}.png" alt="clock">
  <img src="{% static "player" %}{{ view.request.session.curplayer }}.png    " alt="player{{ view.request.session.curplayer }}">
  <audio controls autoplay>
   <source src="{% static "sound/" %}{{ view.sound }}.mp3" type="audio/mpeg">
   Your browser does not support the audio element.
  </audio> 
  {% if not view.request.session.gameison %}
   {% if view.win %}
    <img src="{% static "win.gif" %}" alt="You win!">
   {% else %}
    <img src="{% static "gameover.gif" %}" alt="Game over">
   {% endif %}
  {% endif %}
  <a href="{% url 'play:playgame' %}"><img src="{% static "next.png" %}" alt="Next"></a>
 </div>
{% endblock %}
{% block board %}
      <div class="col span_6_of_6">
	{% for card in view.request.session.board %}
	       <img src="{% static "" %}{{ card.filename }}" alt="{{ card.filename }}">
	{% endfor %}
      </div>
{% endblock %}
