{% extends "base.html" %}
{% load staticfiles %}
{% block actions %}
 <div>
 <h3>
  <a href="{% url 'play:setupgame' %}">New game</a>
 </h3>
 </div>
 <div>
  <img src="{% static "clock" %}{{ view.request.session.clock }}.png" alt="clock">
  {% if not view.die %}
      {% if view.request.session.gameison %}
          <audio controls autoplay>
	      <source src="{% static "bell.mp3" %}" type="audio/mpeg">
       	      Your browser does not support the audio element.
          </audio> 
      {% else %}
          <audio controls autoplay>
	      <source src="{% static "bell12.mp3" %}" type="audio/mpeg">
       	      Your browser does not support the audio element.
          </audio> 
          <img src="{% static "gameover.gif" %}" alt="Game over">
      {% endif %}
  {% endif %}
 </div>
{% endblock %}
{% block msging %}
 <h3>
	 ...
 </h3>
{% endblock %}
{% block board %}
      <div class="col span_6_of_6">
	{% for card in view.request.session.board %}
	       <img src="{% static "" %}{{ card.filename }}" alt="{{ card.filename }}">
	{% endfor %}
      </div>
{% endblock %}
